
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
  height: 100vh;
  max-width:100%;

  padding:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(212, 45%, 89%);
}
.container{
  background: hsl(0, 0%, 100%);
  width: 300px;
  height:510px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 19px;
  text-align: center;
}
.image img{
  height: 275px;
  width: 275px;
  
  border-radius: 10px;
  
}
.container h2{
 color: hsl(218, 44%, 22%);
 margin:10px 20px;
 
}p{
  
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin: 0 20px;
  margin-bottom: 30px;
}
